#container {
	width: 80%;
	height: 91%;
	border-top: none;
	padding-top: 5px;
	top:0;
	bottom:0;
	right:0;
	left:0;
	float:left;
	vertical-align:top;
	display: inline-block;
	position: relative;
	border-left: 2px solid #D0D0D0;
	border-top: 2px solid #D0D0D0;
	border-right: 2px solid #D0D0D0;
	box-sizing: border-box;
	padding-left: 5px;
}

#editor {
	width: 100%;
	height: 95%;
	margin: 0;
	padding: 0;
}

#line-tab {
	padding: 0;
	margin: 0;
	height: 30px;
	width: 100%;
	bottom: 0;
	font-size: 16px;
	box-sizing: border-box;
	clear: both;
}

#show-sim.show {
	width: 0%;
	height: 50%;
	padding: 0;
	top:60px;
	margin: 0;
	right: 20px;
	position: absolute;
	display: inline-block;
	transition:right 0.2s ease;
}

#show-sim.hide, #workspace.hide, #registers.hide {
	right:-9999px;
	position: absolute;
	visibility: hidden;
}

#registers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#registers td, #registers th {
    border: 1px solid black;
    padding: 8px;
}

#registers tr:hover {
	background-color: #d9d9d9;
}

#registers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}