#container {
	width: 79%;
	height: 100%;
	border:1px solid #ccc;
	border-top: none;
	padding: 0;
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin: 0;
	vertical-align:top;
	display: inline-block;
}

#editor {
	width: 100%;
	height: 95%;
}

#line-tab {
	background-color: white;
	padding: 0;
	margin: 0;
	height: 20px;
	width: 100%;
	position:fixed;
	bottom: 0;
}