#container {
	width: 80%;
	height: 91%;
	padding-top: 5px;
	top:0;
	bottom:0;
	right:0;
	left:0;
	vertical-align:top;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	padding-left: 5px;
	border-left: 2px solid #303030;
	border-top: 2px solid #303030;
}

#editor {
	width: 100%;
	height: 95%;
	margin: 0;
	padding: 0;
}

#line-tab {
	padding: 0;
	margin: 0;
	height: 30px;
	width: 100%;
	bottom: 0;
	font-size: 16px;
	box-sizing: border-box;
	clear: both;
}

#show-sim.show {
	width: 0%;
	height: 50%;
	padding: 0;
	top:60px;
	margin: 0;
	right: 20px;
	position: absolute;
	display: inline-block;
	transition:right 0.2s ease;
}

#show-sim.hide, #workspace.hide, #registers.hide {
	right:-9999px;
	position: absolute;
	visibility: hidden;
}

#registers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#registers td, #registers th {
    border: 1px solid silver;
    padding: 8px;
}

#registers tr:hover { 
	background-color: #343434;
}

#registers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #282828;
    color: silver;
}

.breakpoint {
	background:url(../icons/breakpoint.png);
	background-repeat:no-repeat;
	background-position: center; 
	background-size: 70% 70%;
}

.breakpoint-hover {
	background:url(../icons/breakpoint.png);
	background-repeat:no-repeat;
	background-position: center; 
	background-size: 70% 70%;
	opacity:0.4;
}

.highlight {
	background: #383838;
}