html, body {
	height: 100%;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	width:100%;
	overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#tools-wrapper {
	width: 90%;
	height: 32px;
	padding-bottom: 10px;
	margin: 0;
	display: inline-block;
}

#tools {
	padding: 0px;
	list-style-type: none;
}

#display-files {
	list-style-type: none;
	padding-left: 0;
	padding-top: 5px;
	padding-right: 20px;
}

#quick-tools  {
	padding: 0;
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin: 0;
	display: inline-block;
	width:20%;
	height:100%;
	overflow-y: auto;
	overflow-x: hidden;
	white-space: normal;
	text-overflow: ellipsis;
	transition: 0.5s;
	position: relative;
	font-size: 16px;
	border-top: solid 2px rgba(0, 0, 0, .5);
	border-right: solid 2px rgba(0, 0, 0, .5);
	resize:horizontal;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0 auto;
	width: 100%;
}

div.opened {
	display: inline-block;
}

li.tools {
	display: inline-block;
}

i.dir-ico-opened {
	background:url(../icons/dir-opened.png);
	background-repeat:no-repeat;
	background-position: bottom; 
	display: inline-block;
	position:relative;
	bottom: 0;
	right: 0;
	width: 20px;
	height: 15px;
	margin-left:10px;
	padding-right: 5px;
}

i.dir-ico-closed {
	background:url(../icons/dir-closed.png);
	background-repeat:no-repeat;
	background-position: bottom; 
	display: inline-block;
	position: relative;
	bottom: 0;
	right: 0;	
	width: 20px;
	height: 15px;
	margin-left:10px;
	padding-right: 5px;
}

#font-wrapper {
	display: block;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#font-size {
	float:left;
	margin-right: 3px;
	top: 10px;
	display: inline-block;
	position: relative;
	text-align: center;
	width:35px;
}

#button-wrapper {
	float:left;
	display:inline-block;
	width:20px;
}

#increase {
	display: inline-block;
	background:url(../icons/increase.png);	
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:16px;
	height:16px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#decrease {
	display: inline-block;
	background:url(../icons/decrease.png);	
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:16px;
	height:16px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

i.explorer-ico-closed {
	background:url(../icons/explorer-closed.png);
	background-repeat:no-repeat;
	background-position: bottom; 
	background-size: 100% 100%;
	display: inline-block;
	position: relative;
	bottom: 0;
	right: 0;	
	width: 20px;
	height: 15px;
}

i.explorer-ico-opened {
	background:url(../icons/explorer-opened.png);
	background-repeat:no-repeat;
	background-position: bottom;
	background-size: 100% 100%;	
	display: inline-block;
	position: relative;
	bottom: 0;
	right: 0;	
	width: 20px;
	height: 15px;
}

i {
	padding: 0;
	margin: 0;
}

i.file-ico {
	background:url(../icons/file.png);
	background-repeat:no-repeat;
	background-position: bottom; 
	background-size: 15px 15px;
	position: relative;
	bottom: 0;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-left:10px;
	padding-right: 5px;
}

#workspace-text {
	text-align: justify;
	word-break: break-all;
}

.explorer {
	width: 100%;
	background-color: #d7d7d7;
	text-align: left;
	font-size: 14px;
	padding: 10px 10px 10px 0px;
	margin-top: 5px;
}

.tools {
	border-right: solid 2px rgba(0, 0, 0, .5);
	border-collapse: collapse;
	padding-left: 5px;
}

#listed-files, #opened-files {
	margin-top: 10px;
	left: 0;
	width: 100%;
	position: relative;
}

#search {
	display: inline-block;
	background:url(../icons/search-black.png);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	top:0;
	bottom:0;
	right:0;
	left:0;
}

#file-explorer {
	display: inline-block;
	background:url(../icons/file-explorer-black.png);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding-right: 5px;
	margin-right: 5px;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#refresh {
	display: inline-block;
	background:url(../icons/refresh.png);	
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#step.run-simulation {
	display: inline-block;
	background:url(../icons/step.png);	
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#step.wait-simulation {
	display: inline-block;
	background:url(../icons/step.png);
	opacity: 0.5;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#continue.run-simulation {
	display: inline-block;
	background:url(../icons/continue-sim.png);	
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#continue.wait-simulation {
	display: inline-block;
	background:url(../icons/continue-sim.png);	
	opacity: 0.5;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#rm-breakpoints.run-simulation {
	display: inline-block;
	background:url(../icons/remove-bp.png);	
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#rm-breakpoints.wait-simulation {
	display: inline-block;
	background:url(../icons/remove-bp.png);	
	opacity: 0.5;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#reset.run-simulation {
	display: inline-block;
	background:url(../icons/reset.png);	
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#reset.wait-simulation {
	display: inline-block;
	background:url(../icons/reset.png);	
	opacity: 0.5;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}


#run-sim.run-simulation {
	display: inline-block;
	background:url(../icons/run-simulation.png);	
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#run-sim.stop-simulation {
	display: inline-block;
	background:url(../icons/stop-simulation.png);	
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#openbtn {
	display: block;
	margin: 20px auto;
	font-size: 16px;
	padding: 15px 25px;
	background-color: #bdbdbd;
	outline: none;
	border: none;
	border-radius: 15px;
}

li.dir, li.file, div.dir, div.file {
	font-size: 12px;
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	padding: 4px;
	background-color: white;
}

#openbtn:hover {
	cursor: pointer;
	background-color: #d7d7d7;
}

#opened-files.hide, #listed-files.hide {
	left:-5000px;
	position: absolute;
	visibility: hidden;
}

#search:hover, #file-explorer:hover, #refresh:hover, #increase:hover, #decrease:hover, .run-simulation:hover, .stop-simulation:hover, .explorer:hover {
	cursor: pointer;
}

#search:active, #file-explorer:active, #refresh:active, #increase:active, #decrease:active, #openbtn:active, .run-simulation:active, .stop-simulation:active {
	transform: translateY(4px);
}

li.dir:hover, div.dir:hover, li.file:hover, div.file:hover {
	background-color: #d9d9d9!important;
	cursor: pointer;
}