html, body {
	height: 100%;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

#tools-wrapper {
	width: 100%;
	height: 32px;
	padding-bottom: 10px;
}

#tools {
	padding: 0px;
	list-style-type: none;
}

#display-files {
	list-style-type: none;
	padding-left: 0;
	padding-top: 5px;
	padding-right: 20px;
}

ul {
	list-style-type: none;
	padding-left:10px;
}

li.tools {
	display: inline-block;
}

i.dir-ico-opened {
	background:url(../icons/dir-opened.png);
	background-repeat:no-repeat;
	display: inline-block;
	width: 20px;
	height: 15px;
}

i.dir-ico-closed {
	background:url(../icons/dir-closed.png);
	background-repeat:no-repeat;
	display: inline-block;
	width: 20px;
	height: 15px;
}

i {
	padding: 0;
	margin: 0;
}

i.file-ico {
	background:url(../icons/file.png);
	background-repeat:no-repeat;
	background-position: bottom; 
	background-size: 15px 15px;
	bottom: 0;
	display: inline-block;
	width: 20px;
	height: 20px;
}

#quick-tools  {
	padding: 0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
	display: none;
	width:20%;
	height:100%;
	overflow-y: auto;
	transition: 0.5s;
	position: relative;
}

#listed-files {
	border-top: solid 2px rgba(0, 0, 0, .5);
}

#tools-header {
	border-bottom: solid 2px rgba(0, 0, 0, .5);
	font-family: 'Roboto', sans-serif;
}

#search {
	display: inline-block;
	background:url(../icons/search-black.png);
	background-repeat:no-repeat;
	border-right: solid 2px rgba(0, 0, 0, .5);
	background-size: 100% 100%;
	width:32px;
	height:32px;
	top:0;
	bottom:0;
	right:0;
	left:0;
}

#explorer {
	background:url(../icons/file-explorer-black.png);
	background-repeat:no-repeat;
	border-right: solid 2px rgba(0, 0, 0, .5);
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding-right: 5px;
	margin-right: 5px;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#refresh {
	display: inline-block;
	background:url(../icons/refresh.png);	
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#openbtn {
	display: block;
	margin: 20px auto;
}

#search:hover, #explorer:hover, #refresh:hover {
	cursor: pointer;
}

#search:active, #explorer:active, #refresh:active {
	width: 28px;
	height: 28px;
}