html, body {
	height: 100%;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	width:100%;
	overflow: hidden;
}

#tools-wrapper {
	width: 90%;
	height: 32px;
	padding-bottom: 10px;
}

#tools {
	padding: 0px;
	list-style-type: none;
}

#display-files {
	list-style-type: none;
	padding-left: 0;
	padding-top: 5px;
	padding-right: 20px;
}

#quick-tools  {
	padding: 0;
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin: 0;
	display: inline-block;
	width:20%;
	height:100%;
	overflow-y: auto;
	overflow-x: auto;
	white-space: nowrap;
	transition: 0.5s;
	position: relative;
	font-size: 16px;
	border-top: solid 2px rgba(0, 0, 0, .5);
	border-right: solid 2px rgba(0, 0, 0, .5);
}

ul {
	list-style-type: none;
	padding-left:0px;
}

li.tools {
	display: inline-block;
}

i.dir-ico-opened {
	background:url(../icons/dir-opened.png);
	background-repeat:no-repeat;
	background-position: bottom; 
	display: inline-block;
	position:relative;
	bottom: 0;
	right: 0;
	width: 20px;
	height: 15px;
}

i.dir-ico-closed {
	background:url(../icons/dir-closed.png);
	background-repeat:no-repeat;
	background-position: bottom; 
	display: inline-block;
	position: relative;
	bottom: 0;
	right: 0;	
	width: 20px;
	height: 15px;
}

i.explorer-ico-closed {
	background:url(../icons/explorer-closed.png);
	background-repeat:no-repeat;
	background-position: bottom; 
	background-size: 100% 100%;
	display: inline-block;
	position: relative;
	bottom: 0;
	right: 0;	
	width: 20px;
	height: 15px;
}

i.explorer-ico-opened {
	background:url(../icons/explorer-opened.png);
	background-repeat:no-repeat;
	background-position: bottom;
	background-size: 100% 100%;	
	display: inline-block;
	position: relative;
	bottom: 0;
	right: 0;	
	width: 20px;
	height: 15px;
}

i {
	padding: 0;
	margin: 0;
}

i.file-ico {
	background:url(../icons/file.png);
	background-repeat:no-repeat;
	background-position: bottom; 
	background-size: 15px 15px;
	bottom: 0;
	right: 0;
	left: 0;
	display: inline-block;
	width: 20px;
	height: 20px;
}

#workspace-text {
	display:inline-block;
	left:0;
}

.explorer {
	width: 100%;
	background-color: #d7d7d7;
	font-size: 14px;
	padding: 10px 10px 10px 0px;
	margin-top: 5px;
}

.tools {
	border-right: solid 2px rgba(0, 0, 0, .5);
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
}

#listed-files, #opened-files {
	margin-top: 10px;
	left: 0;
	width: 100%;
	position: relative;
}

#search {
	display: inline-block;
	background:url(../icons/search-black.png);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	top:0;
	bottom:0;
	right:0;
	left:0;
}

#file-explorer {
	display: inline-block;
	background:url(../icons/file-explorer-black.png);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding-right: 5px;
	margin-right: 5px;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#refresh {
	display: inline-block;
	background:url(../icons/refresh.png);	
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#step.run-simulation {
	display: inline-block;
	background:url(../icons/step.png);	
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#step.wait-simulation {
	display: inline-block;
	background:url(../icons/step.png);
	opacity: 0.5;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#continue.run-simulation {
	display: inline-block;
	background:url(../icons/continue-sim.png);	
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#continue.wait-simulation {
	display: inline-block;
	background:url(../icons/continue-sim.png);	
	opacity: 0.5;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#rm-breakpoints.run-simulation {
	display: inline-block;
	background:url(../icons/remove-bp.png);	
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#rm-breakpoints.wait-simulation {
	display: inline-block;
	background:url(../icons/remove-bp.png);	
	opacity: 0.5;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#reset.run-simulation {
	display: inline-block;
	background:url(../icons/reset.png);	
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#reset.wait-simulation {
	display: inline-block;
	background:url(../icons/reset.png);	
	opacity: 0.5;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}


#run-sim.run-simulation {
	display: inline-block;
	background:url(../icons/run-simulation.png);	
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#run-sim.stop-simulation {
	display: inline-block;
	background:url(../icons/stop-simulation.png);	
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width:32px;
	height:32px;
	padding:0;
	top:0;
	bottom:0;
	right:0;
	left:0;	
}

#openbtn {
	display: block;
	margin: 20px auto;
	font-size: 16px;
	padding: 15px 25px;
	background-color: #bdbdbd;
	outline: none;
	border: none;
	border-radius: 15px;
}

#openbtn:hover {
	cursor: pointer;
	background-color: #d7d7d7;
}

#search:hover, #file-explorer:hover, #refresh:hover, .run-simulation:hover, .stop-simulation:hover, .explorer:hover {
	cursor: pointer;
}

#search:active, #file-explorer:active, #refresh:active, #openbtn:active, .run-simulation:active, .stop-simulation:active {
	transform: translateY(4px);
}